.theme-dark {
  --background: #191321;
  --panel-background: #251d2c;
  --panel-border: #251228;
  --panel-background-highlight: #353f60;
  --text-color-primary: #ffffff;
  --text-color-secondary: #D9e1e8;
  --accent-primary: #00bf89;
  --bar-color-1: #0dce95;
  --bar-color-2: #ff00ab;
  --bar-color-3: #b7dcff;
  --bar-color-4: #e4f2ff;
  --scroll-thumb: #251228;
  --scroll-background: #251d2c;
  --drop-shadow: #251D2C;
  --dialog-shield: #aaaaaa;
  --tooltip-background: #9aadce;
  --tooltip-text: #22293e;
}
