.theme-light {
  --background: #f6f9ff;
  --panel-background: #d9e1e8;
  --panel-background-highlight: #ebeef0;
  --panel-border: #eef4ff;
  --text-color-primary: #151221;
  --text-color-secondary: #6f6c82;
  --accent-primary: #108cff;
  --bar-color-1: #309cff;
  --bar-color-2: #b7dcff;
  --bar-color-3: #1f629f;
  --bar-color-4: #0a3257;
  --scroll-thumb: #9aadce;
  --scroll-background: #ffffff;
  --drop-shadow: #aaaaaa;
  --dialog-shield: #111111;
  --tooltip-background: #9aadce;
  --tooltip-text: #ffffff;
}
